/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/12/2020, 22:46:23
    Author     : bllv1
*/

#pausar {
    -fx-background-color: #eca519;    
}

#reiniciar{
    -fx-background-color: #ac10ff;
}

#reanudar{
    -fx-background-color: #3bff10;
}

.jfx-button{
    -fx-background-color: #90CAF9;
}

.jfx-button:hover{
    -fx-background-color: #64B5F6;
}